/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container-footer{
  text-align: center;
}
footer p{
  color: #999999;
  background-color: #e7e7e7;
  border-radius: 2px;
  border: solid 1px #999999;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.image-tab{
  width: 30px;
}
